
*{
	margin: 0;
	padding: 0;
	font-family: Georgia;
	color: #fff;
}

body{
	background-color: #000;
}

.col{
	border-radius: 10px;
	background: linear-gradient(45deg, #fff, #000,#fff);
	position: absolute;
	
	width: 85%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	margin-top: 10px;
	box-shadow: 5px 5px 10px #ccc;
}

.myCol{
	
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 80%;
	display: flex;
	flex-direction: column;
	flex-flow: row wrap;
	justify-content: center;
}

.myCol h1 {
	color: #ccc;
	padding: .5em;
}

.myCol p{
	text-align: justify;
	margin: 5%;
}